.hero {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);
    gap: 4px;
   /*  grid-template-areas: "item1 item1 item2 item3 item4 item4"
                            "item1 item1 item2 item5 item7 item8"
                            "item9 item9 item10 item10 item10 item10"
                            "item10 item10 item2 item5 item7 item7";
                           
    background-color: red;                     
    width: 80vw; */
    width: 80vw;
    margin: 10px auto;
    /* padding: 2rem; */
    background-color: #ffffffc0;
}

.item {
   
}


/* .hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
} */

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    background-color: lightcoral;
    grid-column: span 2;
    grid-row: span 2;
   /*  grid-area: item1 */;
}

.item2 {
    background-color: lightblue;
   /*  grid-area: item2 */;
   grid-row: span 2;
}

.item3 {
    background-color: lightgreen;
   /*  grid-area: item3 */;
}

.item4 {
    background-color: lightpink;
   /*  grid-area: item4 */;
   grid-column: span 2;
}

.item5 {
    background-color: lightgray;
   /*  grid-area: item5 */;
   grid-row: span 2;
}

.item6 {
    background-color: lightyellow;
   /*  grid-area: item6 */;
}

.item7 {
    background-color: lightcyan;
   /*  grid-area: item7 */;
}

.item8 {
    background-color: lightgoldenrodyellow;
   /*  grid-area: item8 */;
   grid-column: span 2;
}

.item9 {
    background-color: lightsteelblue;
   /*  grid-area: item9 */  ;
   grid-row: span 2;
}

.item10 {
    background-color: lightseagreen;
   /*  grid-area: item10 */;
   grid-column: span 2;
   grid-row: span 2;
}

.item11 {
    background-color: lightpink;
   /*  grid-area: item11 */;
}
.item12 {
    background-color: lightsalmon;
   /*  grid-area: item12 */;
}    
.item13 {
    background-color: green;
   /*  grid-area: item13  */;
}